
@{
    ViewBag.Title = "Auctionsupport";
}

@Styles.Render("~/Content/Template/Auctionsupport.css")"



<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css?family=Cinzel+Decorative:400,700" rel="stylesheet">

<link rel="stylesheet" type="text/css" href="css/style.css">

<title>Account Create</title>
</head>
<body>

    <header class="header">
        <div class="container">
            <div class="row">

                <div class="col-md-12">
                    <p class="header-text">ACCOUNT CREATE AUCTION SUPPORT</p>

                </div>

            </div>
            <div class="row">

                <div class="col-md-6 offset-md-3">
                    <form>
                        <i class="fa fa-search search-icon" aria-hidden="true"></i>
                        <input type="text" placeholder="" name="search2" class="search-bar">


                    </form>

                </div>

            </div>

        </div>
    </header>



    <section class="main">

        <div class="container">
            <div class="row">
                <div class="col-md-3 left-border">
                    <img src="~/Content/Template/logo-1.png" class="logo">
                    <p class="text-margin">Account</p>
                    <p class="text-margin">Create Auction</p>
                    <p class="text-margin">Support</p>
                    <button class="lg-btn">Log Out</button>
                </div>

                <div class="col-md-8 offset-md-1">
                    <div class="row">
                        <div class="col-md-12">
                            <img src="~/Content/Template/shoe.png" class="banner-img">
                        </div>
                    </div>

                    <div class="row image-border">
                        <div class="row gallery">
                            <div class="col-md  ">
                                <img src="~/Content/Template/watch.jpg" style="width: 100%;">
                                <p style="text-align: center;margin-top: 15px;">Patek Philip Choronagraph</p>
                                <p style="text-align: center;">$25000</p>
                                <p style="text-align: center;">Time</p>
                            </div>
                            <div class="col-md offset-md-1 ">
                                <img src="~/Content/Template/shoe-1.jpg" style="width: 100%;">
                                <p style="text-align: center;margin-top: 15px;">Saint Laurent Man Boots</p>
                                <p style="text-align: center;">$1100</p>
                                <p style="text-align: center;">Time</p>
                            </div>

                        </div>
                        <div class="row gallery">
                            <div class="col-md  ">
                                <img src="~/Content/Template/watch.jpg" style="width: 100%;">
                                <p style="text-align: center;margin-top: 15px;">Patek Philip Choronagraph</p>
                                <p style="text-align: center;">$25000</p>
                                <p style="text-align: center;">Time</p>
                            </div>
                            <div class="col-md offset-md-1 ">
                                <img src="~/Content/Template/shoe-1.jpg" style="width: 100%;">
                                <p style="text-align: center;margin-top: 15px;">Saint Laurent Man Boots</p>
                                <p style="text-align: center;">$1100</p>
                                <p style="text-align: center;">Time</p>
                            </div>

                        </div>
                    </div>





                </div>
            </div>
        </div>
    </section>













    <footer class="footer">
        <div class="container">
            <div class="row footer-border">
                <div class="col-md-2">
                    <img src="~/Content/Template/mobile.jpg" class="img-fluid">
                </div>
                <div class="col-md-3 footer-margin">
                    <p>Shop With Confidence</p>
                    <p>Since 2002,LiveAuctioneers has made exceptional items available for sale purchase in secure online auctions.</p>
                </div>
                <div class="col-md-5 footer-margin">
                    <img src="~/Content/Template/logo.jpg" class="img-fluid">
                </div>
                <div class="col-md-2 footer-margin">
                    <p>Company</p>
                    <button class="footer-btn">About</button>
                </div>

            </div>

        </div>
    </footer>
















    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script>
        function myFunction() {
            var x = document.getElementById("myLinks");
            if (x.style.display === "block") {
                x.style.display = "none";
            } else {
                x.style.display = "block";
            }
        }
    </script>

</body>

