
@{
    ViewBag.Title = "Login";
}
<link href="@Url.Content("~/Content/Template/login.css")" rel="stylesheet" type="text/css" />

<div class="loginbox">

    <img src="~/Content/Template/loginpic2.png" class="avatar">
    <form method="post" style="position: absolute;top: 50%;left: 80%; right: 20%;">
        <label for="Username">Username:</label>
        <input type="text" name="Username" placeholder="Username"><br />
        <label for="Password">Password</label>
        <input type="text" name="Password" placeholder="Password"><br />
        <button style="background-color:palegreen ;width:180px ;" type="submit" name="Login">Login</button><br />
        <a>Forget Password</a><br />
        <br />
        <button style="background-color:palegreen; width:180px ;" type="button" name="RegisterfromLogin">Register</button><br />
    </form>

</div>
<style>
    body {
        background-color: coral;
        background-image: url("https://media.warriortrading.com/2016/12/Blog_BID_PRICE.jpg");
    }
</style>
