
@{
    ViewBag.Title = "Login";
}



<link href="@Url.Content("~/Content/Template/login.css")" rel="stylesheet" type="text/css" />
<h2>Auction Site</h2>

<body>

    <div class="loginbox">

        <img src="~/Content/Template/loginpic2.png" class="avatar">
        <h1>Login Here</h1>
        <form>
            <p>Emailaddress</p>
            <input type="text" name="" placeholder="Enter Emailaddress">
            <p>Password</p>
            <input type="password" name="" placeholder="Enter Password"></br>
            <input type="submit" name="" value="Login"> </br>
            <a href="#">Lost your password?</a><br>
            <a href="#">Don't have an account?</a>
        </form>

    </div>
    <style>
        body {
            background-color: coral;
        }
    </style>

</body>

