
@{
    ViewBag.Title = "AuctionList";
}

<h2>AuctionList</h2>

<table>
    <thead>

        <li>Product name</li>
        <li>Product Details</li>
        <li>Closing Time</li>
        <li>Reserve Price</li>
        <li>Action(edit)</li>
        <li>Action(delete)</li>
    </thead>
    <tbody>
        @{
            for (int i = 0; i < ; i++)
            {
                <tr>
                    <li>Product name</li>
                    <li>Product Details</li>
                    <li>Closing Time</li>
                    <li>Reserve Price</li>
                    <li>Edit</li>
                    <li>Delete</li>
                </tr>
            }
        }
    </tbody>
</table>