
@{
    /**/

    ViewBag.Title = "Bidding";
}

<h2>Bidding</h2>
<div>
    <p><img src="~/Image/2.jpg" /></p>
    <p>
        <ul>
            <li>Home</li>
            <li>About</li>
            <li>Contact Us</li>

        </ul>
    </p>

</div>
<div class="container">
    <div class="row">
        <div class="col-sm-6" style="{width:5px;height:5px;}">
            <div class="card">
                <img src="~/Image/1.jpg" />
                <p>gg</p>
            </div>
        </div>
        <div class="col-sm-6" style=" {width:5px;height:5px;}">
            <div class="card">


                <form method="post">
                    <div class="container">
                        <form method="post">
                            <label for="Product Name">Product Name: </label><br>
                            <input type="text" id="Product Name" name="Product Name" placeholder="Product Name"><br>
                            <label for="Product Details">Product Details</label><br>
                            <input type="text" id="Product Details" name="Password" placeholder="Product Details"><br>
                            <label for="ClosingTime"> ClosingTime</label><br>
                            <input type="text" id="ClosingTime" name="ClosingTime" placeholder="ClosingTime Details"><br>

                            <label for="HighestbidPrice">HighestbidPrice:</label><br>
                            <input type="text" id="HighestbidPrice" name=" HighestbidPrice" placeholder=" HighestbidPrice"><br>
                            <label for=" Bid"> Bid</label><br>
                            <input type="text" id="Bid" name="Bid" placeholder="Bid"><br>


                        </form>
                        <button style="color:aqua" type="submit" name="Register">Register</button><br />
                    </div>
                </form>

            </div>
        </div>

    </div>
</div>
