@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<link href="@Url.Content("~/Content/Template/About.css")" rel="stylesheet" type="text/css" />
<p>Use this area to provide additional information.</p>


<!-- Page Header -->
<div class="bar">
    <button>Register<font color=white"></button>
    <button>Login<font color=white"></button>
    <label for="cars">Choose a Option:</label>
    <select name="option" id="option">
        <option value="About ">About Us</option>
        <option value="Contract ">Contract us</option>
    </select>
</div>
<header class="masthead" style="text-align: center ">
    <link rel="stylesheet" href="about.css">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="title">
                <div class="site-heading">
                    <h1>Our Story</h1>

                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col">
            An online auction (or also electronic auction or e-auction or eAuction) is an auction which is held over the internet.[1][2][3] Like auctions in general, online auctions come in a variety of types like ascending English auctions, descending Dutch auctions, first-price sealed-bid, Vickrey auctions and others, which are sometimes not mutually exclusive.[4]

            The scope and reach of these auctions have been propelled by the Internet to a level beyond what the initial purveyors had anticipated.[5] This is mainly because online auctions break down and remove the physical limitations of traditional auctions such as geography, presence, time, space, and a small target audience.[5] This influx in reachability has also made it easier to commit unlawful actions within an auction.[6] In 2002, online auctions were projected to account for 30% of all online e-commerce due to the rapid expansion of the popularity of the form of electronic commerce.[7] Online auctions include business to business (B2B), business to consumer (B2C), and consumer to consumer (C2C) auctions.[8]


            Online Auction Image The largest online auction site is eBay, which was the first to support person-to-person transactions. Other popular examples of online auction sites include WebStore, OnlineAuction and Overstock.

        </div>
    </div>
</div>



<!-- Page Header -->
<header class="masthead" style="text-align: center  ">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="title2">
                <div class="site-heading">
                    <h1>Our Values</h1>

                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col" style="text-align: justify ">

            Duis porttitor vulputate arcu, at hendrerit eros cursus accumsan. Donec a dui vitae velit feugiat vulputate. Aliquam erat volutpat. In quis leo nec urna iaculis luctus. Mauris ut lorem at odio volutpat maximus ut nec erat. Donec vulputate urna eu magna venenatis, a fermentum nisi lacinia. Nam tempor luctus nisl. Nulla nunc metus, imperdiet id luctus at, feugiat ac nibh. Donec non tempus ipsum. Nunc enim nulla, placerat a ornare vitae, pretium convallis tellus. Proin posuere aliquet sem ac laoreet. Suspendisse non turpis pellentesque, auctor turpis et, laoreet nisi. Nullam euismod ligula urna, eu porttitor odio elementum non. Ut pretium felis tortor, sed auctor nisi tempor eu.

        </div>
    </div>
</div>