.header {
    margin-top: 30px;
}

.head-text {
    font-size: 30px;
    margin-top: -8px;
}

.search-icon {
    position: relative;
    left: 22px;
    z-index: 9;
    top: 3px;
}

.search-bar {
    position: absolute;
    width: 90%;
    border-radius: 18px;
}

/*------- hamburger start ----*/
.topnav {
    background-color: #ffffff;
    color: #f3eeee;
    position: relative;
}

    .topnav #myLinks {
        display: none;
    }

    .topnav a {
        color: black;
        padding: 10px 16px;
        text-decoration: none;
        border: 1px solid black;
        font-size: 17px;
        display: block;
    }

        .topnav a.icon {
            background: whitte;
            background-color: white;
            display: block;
            position: absolute;
            right: 0;
            top: 0;
            border: 1px solid black;
            color: black;
        }

        .topnav a:hover {
            background-color: #18bcd6;
            color: black;
        }

.active {
    background-color: #4CAF50;
    color: white;
}

/*------- hamburger end ----*/


.rgstr-btn {
    background-color: white;
    border: 1px solid black;
    border-radius: 8px;
    padding: 5px 12px;
}

.log-btn {
    background-color: white;
    border: 1px solid black;
    border-radius: 8px;
    padding: 5px 12px;
}

.banner-img {
    margin-top: 25px;
    width: 100%;
    margin-bottom: 25px;
}

.image-border {
    border: 1px solid black;
    padding: 0px;
}

.gallery {
    margin-bottom: 80px;
}

.image-section {
    border: 1px solid black;
    padding: 35px;
    overflow: scroll;
}

.footer {
    margin-top: 70px;
}

.footer-border {
    border: 1px solid black;
    padding: 45px;
}

.footer-btn {
    background-color: white;
    border: 1px solid black;
    border-radius: 8px;
    padding: 5px 12px;
}

.footer-margin {
    margin-top: 45px;
}
